// Responsive
$mobile: 'only screen and (max-width: 480px)';
$tablet: 'only screen and (max-width: 768px)';
$small: 'only screen and (max-width: 1000px)';
$large: 'only screen and (max-width: 1201px)';

// Header
$header-height: 80px;
$header-height-mobile: 60px;
